.recipe {
    display: inline-block;
    width: 28%;
    margin: 1%;
    padding: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}
.recipe:hover {
    border: 3px solid blue;
}
.selected {
    border: 3px solid green;
}
.ingredientsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.ingredient {
    background-color: #777777;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin: 5px 5px 5px 0;
}
.recipeName {
    font-size: 24px;
    font-weight: bold;
}
.subtitle {
    font-weight: bold;
    margin-right: 10px;
}